<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>t1</title>
</head>
<body>
<form action="/db_handle/" method="post">
用户名<input type="text" name="username" >
密码<input type="text" name="password">
年龄<input type="text" name="age">
<input type="submit" value="提交">
</form>
<table border="1">
    <thead>
        <tr>
            <th>用户名</th>
            <th>密码</th>
            <th>年龄</th>
        </tr>
    </thead>
    <tbody>
        {%for item in li %}
        <tr>
            <td>{{ item.username }}</td>
            <td>{{ item.password }}</td>
            <td>{{ item.age }}</td>
        </tr>
        {%endfor%}
    </tbody>


</table>


</body>
</html>